button {
  font-family: 'Roboto Slab', serif;
  margin: 20px auto 3em;
  height: 48px;
  width: 220px;
  background-color: olive;
  color: white;
  border-radius: 6px;
  border: none;
  font-size: 14pt;
  display: block;
  cursor: pointer;
  flex-grow: 2;
}

button:disabled {
  background-color: gray;
  color: darkgray;
  cursor: not-allowed;
}

.form-wrapper {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}
